{{ define "content" }}

{{ with .Data.Book }}
<div>
    <h1>{{ .Title }}</h1>
    <p>{{ .Format }}</p>
    <p><a href="/bookgenres/{{ .Genre.ID }}">{{ .Genre.Name }}</a></p>
</div>
{{ end }}

{{ end }}