{{ define "content" }}

<form action="/authors" method="POST">
    <div>
        <label for="name">Name</label>
        <input type="text" name="name" placeholder="Herman Melville" />
    </div>

    <div>
        <button type="submit">Create Author</button>
    </div>
</form>

{{ end }}