{{ define "layout_css" }}
#appbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 24px 16px;
}

#main {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
}

#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    width: 80px;
}

#sidebar a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 8px;
    text-decoration: none;
    color: black;
}

/* Page specific CSS goes here */
{{ block "page_css" . }}{{ end }}
{{ end }}

{{ define "layout" }}
{{ template "header" . }}
<main id="main">
    <nav id="sidebar">
        {{ template "sidebar" . }}
    </nav>
    <div>
        {{ if .Flash }}{{ template "flash" . }}{{ end }}
        {{ template "content" . }}
    </div>
</main>
{{ end }}

{{ define "header" }}
<header id="appbar">
    <nav>
        <a href="/">Home</a>
        <a href="/library/books">Library</a>
    </nav>

    {{ if .User }}
        <a href="/auth/logout">Log Out</a>
    {{ else }}
        <a href="/auth/login">Log In</a>
    {{ end }}
</header>
{{ end }}

{{ define "flash" }}
<h1>Flash</h1>
{{ range .Flash }}
<div class="{{ .Type }}">{{ .Message }}</div>
{{ end }}
{{ end }}